<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Type Selection</title>
</head>
<body>
    <!-- <form action="/type" method="POST">
        <div>
            <label for="genre">Genre</label>
            <input type="text" id="genre" name="movie[genre]">
        </div>
        <div>
            <label for="r_date">Release Date</label>
            <input type="text" id="r_date" name="movie[r_date]">
        </div>
        <button>Continue</button>
    </form> -->
    <form action="/type" method="POST">
        <div>
            <label for="id">Genre</label>
            <input type="text" id="id" name="id">
        </div>
        <div>
            <label for="movies">Release Date</label>
            <input type="number" id="movies" name="movies">
        </div>
        <button>Continue</button>
    </form>
</body>
</html>